
		h1{
				background-color:#002A39;
				bottom: 0px;
				width: 100%;
				font: 35px "Arial", sans-serif;
				color: white;
				
			}
				
			h2{
				background-color:#002A39;
				bottom: 0px;
				width: 100%;
				font-size: 20px;
			}

			h3 {
  				letter-spacing: 5px;
 				 text-transform: uppercase;
 				 font: 20px "Arial", sans-serif;
  				color: #111;
			}


			
			

			p{
				font-family:'Libre Baskerville', serif; 
				font-size: 35pt;
				position:relative;
				text-align:center;
				background-color: #550C18;
				color:white;
				padding:20px;
			}

			.end p{
				font-family:'Libre Baskerville', serif; 
				font-size: 35pt;
				position:relative;
				text-align:center;
				background-color: #002A39;
				color:white;
				padding:20px;
			}



			.residentialMain {			/*Start of Navigation Box*/

			}
			.secondaryInfo{
				background-color: #c4c4c4;
			}


			.mainNav {
				background-color:#002A39;
				position:fixed;
				top: 0px;
				width: 100%;
				z-index: 100;
				text-align: center;
				list-style: none; 
			
			}

			 .mainNav a {
			 	color: white;
			 	padding: 5px;
			 	text-decoration: none;
			 	font-family: Arial;
			 	font-size: 20px;
			 	display: inline-block;
			}
			

			.mainNav h2:hover {
				color:orange;
			}

			.mainNav .icon {
				display:none;
				float:right;
			}


			.logo{
				max-height: 70px;
				max-width: 50px;
				margin: 1%;
				float:left;
				
				

			}

			.logo h2 {
				display: inline;

			}

			.logo .icon{
				display:inline;
			}

			.icon{
				margin-top:4%;
			}

			
			/* controls for repsonsive slide */
			@media screen and (max-width: 600px) {
				.mainNav a{display: none;}
				.mainNav a.icon {
					float: right;
					display: block;
				}
			}
			/* controls for hamburger dropdown */
			@media screen and (max-width: 600px) {
				.mainNav.responsive {position:relative;}
				.mainNav.responsive .icon {
					position:absolute;
					right:0;
					top:0;
				}
				.mainNav.responsive a {
					float: none;
					display: block;
					text-align: left;
					margin-left:20%;
				}
				
				.logo{
					margin: 2%;
					
					} /* End Of Navigation Button*/
				}

/*START OF PARALLAX CODE*/
body, html {
  height: 100%; /* Note that the height of the body and html is declared in %. In order to use % with .bgimg-1 (see below), we have to declare 100% height on the body and html tags.  */
  margin: 0;
  font: 15px "Lato", sans-serif;
  color: #777;
}

.res_1, .res_2, .res_3 {
  position: relative;
  opacity: 1; /* This is just for style. Feel free to delete. */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* 3. This is where the magic happens. To trigger the parallax effect, you need to add the attribute "background-attachment" along with the appropriate value. Use w3schools. HINT HINT. */
}



/* 4. Parallax isn't very compatible on mobile devices so you will want to add a media query that changes the value of the background attachment when the width of your browser goes below a certain number. */

.res_1 {
  background-image: url("../images/residential.jpg");
  min-height: 80%;
}

.res_2 {
  background-image: url("../images/redDoor.jpg");
  min-height: 400px;
}

.res_3 {
  background-image: url("../images/interior.jpg");
  min-height: 600px;
}

@media only screen and (max-width: 600px) {
  .res_1, .res_2, .res_3 {
  position: relative;
  opacity: 1; /* This is just for style. Feel free to delete. */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  }
} 

/* Start commercial Parallax Content */

.com_1, .com_2, .com_3 {
  position: relative;
  opacity: 1; 
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  }

.com_1 {
  background-image: url("../images/commercial_main.jpg");
  min-height: 90%;
}

.com_2 {
  background-image: url("../images/commercial_spray.jpg");
  min-height: 400px;
}

.com_3 {
  background-image: url("../images/commercial_exterior.jpg");
  min-height: 600px;
}
/* End Commercial Parallax Content */


/* Start Industrial Parallax Content */

.ind_1, .ind_2, .ind_3 {
  position: relative;
  opacity: 1; 
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  }

.ind_1 {
  background-image: url("../images/spray_safety.png");
  min-height: 90%;
}

.ind_2 {
  background-image: url("../images/industrial_scissor.jpg");
  min-height: 400px;
}

.ind_3 {
  background-image: url("../images/industrial.png");
  min-height: 600px;
}
/* End Industrial Parallax Content */

/* Start Cabinet Parallax Content*/
.cab_1, .cab_2, .cab_3 {
  position: relative;
  opacity: 1; /* This is just for style. Feel free to delete. */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* 3. This is where the magic happens. To trigger the parallax effect, you need to add the attribute "background-attachment" along with the appropriate value. Use w3schools. HINT HINT. */
}

.cab_1 {
  background-image: url("../images/cabinets_booth.jpg");
  min-height: 90%;
}

.cab_2 {
  background-image: url("../images/cabinets_brown.jpg");
  min-height: 400px;
}

.cab_3 {
  background-image: url("../images/cabinets_white.jpg");
  min-height: 600px;
}



@media only screen and (max-width: 600px) {
  .cab_1, .cab_2, .cab_3 {
    background-attachment: scroll;
  }
  /* End Cabinet Parallax Content*/
} 
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  opacity:.75;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
/*ENDOF PARALLAX CODE*/













* {box-sizing: border-box} 							/*Start of Slideshow Box*/
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #000000;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
			@media only screen and (max-width: 600px) {
 			 .residentialMaininfo {font-size: 42px}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
  .prev, .next,.text {font-size: 11px}					/*END of Slideshow Box*/